@font-face {
  font-family: microgrammaBold;
  src: url(./fonts/MicrogrammaDBolExt.ttf);
}
@font-face {
  font-family: microgrammaRegular;
  src: url(./fonts/microgrammanormal.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: Segoe UI, Arial, sans-serif;
}

.segoeFont {
  font-family: Segoe UI, Arial, sans-serif;
}

.gradientNormal {
  background: linear-gradient(107.74deg, #30cfd0 12.12%, #330867 95.64%);
}

.gradientInverted {
  border-width: 2px;
  border-style: solid;
  background: linear-gradient(1deg, #f8f9fa, #f8f9fa) padding-box,
    linear-gradient(to right, #30cfd0, #330867) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
}

h1 {
  @apply text-7xl font-[microgrammaBold] uppercase;
}

h2 {
  @apply text-6xl font-[microgrammaBold] uppercase;
}

h3 {
  @apply text-5xl font-[microgrammaRegular] uppercase;
}

h4 {
  @apply text-4xl font-[microgrammaRegular] uppercase;
}

[role="button"],
button {
  @apply cursor-pointer select-none;
}


