@font-face {
  font-family: microgrammaBold;
  src: url(./fonts/MicrogrammaDBolExt.ttf);
}
@font-face {
  font-family: microgrammaRegular;
  src: url(./fonts/microgrammanormal.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Arial, sans-serif;
  overflow: hidden;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.gradientNormal {
  background: linear-gradient(107.74deg, #30cfd0 12.12%, #330867 95.64%);
}

h1 {
  @apply text-gray-700 text-7xl font-[microgrammaBold] uppercase;
}

h2 {
  @apply text-gray-700 text-6xl font-[microgrammaBold] uppercase;
}

h3 {
  @apply text-gray-700 text-5xl font-[microgrammaBold] uppercase;
}

h4 {
  @apply text-gray-700 text-4xl font-[microgrammaRegular] uppercase;
}

[role="button"],
button {
  @apply cursor-pointer select-none;
}
